<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.telephony"
        android:required="false" />

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="32"
        tools:ignore="ScopeStorage,ScopedStorage" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/app_icon"
        android:label="FoodPicking"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.KotlinApplicationDelivery"
        android:usesCleartextTraffic="true"
        tools:ignore="ExtraText"
        tools:targetApi="31">
        <activity
            android:name=".activities.client.restaurant.ClientRestaurantSearchingListActivity"
            android:exported="false" />
        <activity
            android:name=".activities.client.restaurant.ClientRestaurantDetailActivity"
            android:exported="false" />
        <activity
            android:name=".activities.client.restaurant.ClientRestaurantListActivity"
            android:exported="false" />
        <activity
            android:name=".activities.restaurant.address.create.RestaurantAddressCreateActivity"
            android:exported="false" />
        <activity
            android:name=".activities.restaurant.address.list.RestaurantAddressListActivity"
            android:exported="false" />
        <activity
            android:name=".activities.restaurant.create.RestaurantCreateActivity"
            android:exported="false" />
        <activity
            android:name=".activities.client.products.list.ClientProductSearchingListActivity"
            android:exported="false" />
        <!--
             TODO: Before you run your application, you need a Google Maps API key.

             To get one, follow the directions here:

                https://developers.google.com/maps/documentation/android-sdk/get-api-key

             Once you have your API key (it starts with "AIza"), define a new property in your
             project's local.properties file (e.g. MAPS_API_KEY=Aiza...), and replace the
             "YOUR_API_KEY" string in this file with "${MAPS_API_KEY}".
        -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_map_api_key" />

        <activity
            android:name=".activities.LoginForm2"
            android:exported="false" />
        <activity
            android:name=".activities.client.payments.zalo.ClientPaymentZaloFormActivity"
            android:exported="true"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="app"
                    android:scheme="demozpdk" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.client.payments.payment_method.ClientPaymentMethodActivity"
            android:exported="false"
            android:parentActivityName=".activities.client.address.list.ClientAddressListActivity" />
        <activity
            android:name=".activities.delivery.orders.map.DeliveryOrdersMapActivity"
            android:exported="false" />
        <activity
            android:name=".activities.delivery.orders.detail.DeliveryOrdersDetailActivity"
            android:exported="false" />
        <activity
            android:name=".activities.restaurant.orders.detail.RestaurantOrdersDetailActivity"
            android:exported="false"
            android:parentActivityName=".activities.restaurant.home.RestaurantHomeActivity" />
        <activity
            android:name=".activities.client.orders.map.ClientOrdersMapActivity"
            android:exported="false" />
        <activity
            android:name=".activities.client.orders.detail.ClientOrdersDetailActivity"
            android:exported="false"
            android:parentActivityName=".activities.client.home.ClientHomeActivity" />
        <activity
            android:name=".activities.client.address.map.ClientAddressMapActivity"
            android:exported="false" />
        <activity
            android:name=".activities.client.address.create.ClientAddressCreateActivity"
            android:exported="false"
            android:parentActivityName=".activities.client.address.list.ClientAddressListActivity" />
        <activity
            android:name=".activities.client.address.list.ClientAddressListActivity"
            android:exported="false"
            android:parentActivityName=".activities.client.shopping_bag.ClientShoppingBagActivity" />
        <activity
            android:name=".activities.client.shopping_bag.ClientShoppingBagActivity"
            android:exported="false"
            android:parentActivityName=".activities.client.home.ClientHomeActivity" />
        <activity
            android:name=".activities.client.products.detail.ClientProductsDetailActivity"
            android:exported="false" />
        <activity
            android:name=".activities.client.products.list.ClientProductsListActivity"
            android:exported="false" />
        <activity
            android:name=".activities.client.update.ClientUpdateActivity"
            android:exported="false"
            android:parentActivityName=".activities.client.home.ClientHomeActivity" />
        <activity
            android:name=".activities.SaveImageActivity"
            android:exported="true" />
        <activity
            android:name=".activities.delivery.home.DeliveryHomeActivity"
            android:exported="false" />
        <activity
            android:name=".activities.restaurant.home.RestaurantHomeActivity"
            android:exported="false" />
        <activity
            android:name=".activities.SelectRolesActivity"
            android:exported="false" />
        <activity
            android:name=".activities.client.home.ClientHomeActivity"
            android:exported="false" />
        <activity
            android:name=".activities.RegisterActivity"
            android:exported="false" />
        <activity
            android:name=".activities.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="app"
                    android:scheme="demozpdk" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_channel_id"
            android:value="@string/default_notification_channel_id" />
        <meta-data
            android:name="com.mapbox.maps.token"
            android:value="@string/mapbox_access_token" />

        <service
            android:name=".services.MyFirebaseMessagingClient"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
    </application>

</manifest>